*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.menu{
    height: 30px;
    background-color: rgb(8, 82, 151);
    color: white;
    line-height: 30px;
}

.header{
    color: black;
    background-color: rgb(12, 192, 12);
    height: 100px;
    line-height: 100px;
}

.content1{
    background-color: purple;
    color: black;
    height: 100px;
    line-height: 100px;
}

.content2{
    background-color: rgb(147, 221, 50);
    color: black;
    height: 100px;
    line-height: 100px;
}

.content3{
    background-color: rgb(223, 41, 223);
    color: black;
    height: 100px;
    line-height: 100px;
}

.content4{
    background-color: rgb(255, 0, 0);
    color: black;
    height: 100%;
    width: 25%;
    line-height: 300px;
}

.content5{
    background-color: rgb(53, 50, 50);
    color: white;
    height: 100%;
    width: 25%;
    line-height: 300px;
}

.footer{
    background-color: rgb(223, 165, 41);
    color: black;
    height: 40px;
    line-height: 40px;
}

.contenty_trzy{
    width: 50%;
}

.con{
    display: flex;
    height: 300px;
}
